argparse==1.1
buildout.bootstrap==1.4.5
collective.recipe.supervisor==0.18
elementtree==1.2.7-20070827-preview
gocept.recipe.env==1.0
hashlib
hexagonit.recipe.download==1.6
meld3==0.6.10
mr.developer==1.23
plone.recipe.command==1.1
supervisor==3.0b1
zc.buildout==1.7.0
zc.recipe.egg==1.2.2
